.table {
    background-color: rgb(13, 116, 205);
}
h1 {
    text-align: center;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
.Rowalcal {
    border-color: black;
    border-radius: 1px;
    border: 1px solid;
}
.row {
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
.footer{
    bottom: 0;
    position: fixed;
    background-color: rgba(113, 111, 184, 0.645);
    width: 100%;
    text-align: center;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
body {
    background-image: url(Img-bg.jpg);
}